# Python
*.pyc
*.pyo
__pycache__/

debug_page.html

# Environnement virtuel
myenv/
.env

# Fichiers liés à l'IDE
.vscode/

# Fichiers de log
*.log

# Fichiers générés par Streamlit
/.streamlit/

# Fichiers temporaires de la base de données
*.db
*.sqlite

# Fichiers de données temporaires ou produits
*.csv
*.tsv
*.xlsx

# Dossiers générés pour les fichiers téléchargés
2-old_version
donnees_temperature

# Fichiers de tests
*.cover
.coverage
nosetests.xml
test_*.xml
*.bak
*.swp
