bleak
asyncio
argparse
datetime
requests
pandas
uuid
schedule
summarytools
pygwalker
sweetviz
missingno
statsmodels
plotly
holidays
openmeteo-requests
requests-cache 
retry-requests 
numpy
geopy
openmeteo_py
streamlit



scikit-learn
PyPDF2
nltk
