bleak
asyncio
argparse
datetime
requests
pandas
uuid
schedule
summarytools
pygwalker
sweetviz
missingno
statsmodels
plotly
prometheus-client
holidays
openmeteo-requests
requests-cache 
retry-requests 
numpy
geopy
openmeteo_py
streamlit
beautifulsoup4
selenium 
webdriver-manager
pymongo 
gridfs
bcrypt

pytest
pytest-mock


scikit-learn
PyPDF2
nltk
